<div class="container main-container">
    <h1>Produtos</h1>
    <hr>
    <div class="row text-center">
        <div *ngFor="let produto of produtos" class="col-md-4" style="padding-bottom: 30px;">
            <div class="card h-100">
                <a class="text-decoration-none">
                    <div style="align-content: center;">
                        <img src="/assets/{{ produto.produto.imagem }}" height="164px" width="253px">
                    </div>
                </a>

                <h4 class="card-title">{{ produto.produto.nome | titlecase }}</h4>

                <div class="card-body">
                    <div [ngSwitch]="produto.produto.promocao">
                        <p *ngSwitchCase="true">Promoção!</p>
                        <p *ngSwitchCase="false">Por apenas:</p>
                    </div>

                    <div *ngIf="produto.produto.promocao">
                        <div><h4 class="card-text">De: 
                            <small><del>{{ produto.produto.valor | currency:'BRL':symbol:'1.2-2':'pt' }}</del></small>
                            Por: {{ produto.produto.valorPromocao | currency:'BRL':symbol:'1.2-2':'pt' }}
                        </h4></div>
                    </div>
    
                    <div *ngIf="!produto.produto.promocao">
                        <div><h4>{{ produto.produto.valor | currency:'BRL':symbol:'1.2-2':'pt' }}</h4></div>
                    </div>
                </div>

                <div class="card-footer">
                    <a href="#" class="btn btn-primary">
                        <span class="fa fa-shopping-cart"></span> Editar
                    </a>&nbsp;
                    <a href="#" class="btn btn-danger">
                        <span class="fa fa-shopping-cart"></span> Deletar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>